{% extends 'EcomWebApp/base.html' %}
{% load static %}
{% block content %}

<div class="container mt-5 mb-5 contentdiv">
    <div class="d-flex justify-content-center row contentdivv">
        <div class="col-md-10 mt-5">
            <div class="row p-2 bg-white border rounded thisdiv">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image small-image"
                        src="{{post.image.url}}"></div>
                <div class="col-md-6 mt-1">
                    <h5>{{post.name}}</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i></div><span>Size-Available:
                            {{post.size}}</span>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light
                            weight</span><span class="dot"></span><span>Best finish<br></span></div>
                    <div class="mt-1 mb-1 spec-1"><span>{{post.gender}}</span><span class="dot"></span><span>For
                            men</span><span class="dot"></span><span>{{post.outfit}}<br></span></div>
                    <p class="text-justify  para mb-0">{{post.description}}.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">${{post.price}}</h4><span class="strike-text">{{items.discount_price|default_if_none:"" }}</span>
                    </div>
                    <h6 class="text-success">Free shipping</h6>
                    <div class="d-flex flex-column mt-4">
                        <a href="" class="btn btn-primary btn-sm">Buy Now</a>
                        <a href="" class="btn btn-outline-primary btn-sm mt-2">Add to wishlist</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- pop up model for image -->
<div id="image_popup">
    <button class="close-btn"> X</button> <br>
    <img class="img-fluid  img-responsive rounded product-image large-image" src="{{post.image.url}}">

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $(".small-image").click(function(){
            var path = $(this).attr('src');
            $('#large-image').attr('src', path);
            $('#image_popup').fadeIn();
        })
        $('.close-btn').click(function(){
            $('#image_popup').slideUp();
        })
    })

</script>

{% endblock %}