{% extends 'EcomWebApp/base.html' %}
{% load static %}
{% block content %}

<div class="container  mb-5 contentdiv">
    <div class="d-flex justify-content-center row contentdivv">
        <div class="col-md-10 mt-1">
            {% for items in post %}
            <div class="row p-2 bg-white border rounded">
                 <div class="col-md-3 mt-1" style="border:1px solid rgb(179, 175, 175);padding:1px;"><img class="img-fluid img-responsive rounded product-image"
                        src="{{items.imageURL}}" alt="product-image"></div>
                <div class="col-md-6 mt-1">
                    <h5>{{items.name}}</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i
                                class="fa fa-star"></i><i class="fa fa-star"></i></div><span>Size-Available:
                            {{items.size}}</span>
                    </div>
                   
                    <div class="mt-1 mb-1 spec-1">
                        <span>{{items.gender}}</span>
                        <span class="dot"></span>
                            <span>{{items.outfit}}<br></span>
                        </div>
                    <p class="text-justify text-truncate para mb-0">{{items.description}}.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1">${{items.price}}</h4> 
                        <span class="strike-text">
                            <!-- {{ items.discount_price|default_if_none:"" }} -->
                            {% if items.discount_price %}
                            <span>$</span>{{ items.discount_price }}
                            {% else %}
                            {{''}}  
                            {% endif %} 
                        </span>
                    </div>
                    <h6 class="text-success">Free shipping</h6>
                    <div class="d-flex flex-column mt-4">
                        <a href="{%url 'detail-page' items.id %}" class="btn btn-outline-dark btn-sm">Details</a>
                        <!-- <a href="#"  data-product="{{items.id}}" data-action="add" class="btn btn-outline-primary btn-sm mt-2 update-cart">Add to Cart</a> -->
                        <button data-product="{{items.id}}" data-action="add" class="btn btn-dark btn-sm mt-2 update-cart">Add to Cart</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}